@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Franklin:wght@700;900&family=Trocchi&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-btn-gold: #fccb31;
  --color-btn-orange: #f45755;

  --font-family-libre-franklin: "Libre Franklin";
  --font-family-trocchi: "Trocchi";
  --font-family-archivo: "Archivo Black";
}

.page-bg {
  background-image: url(./assets/Confetti-BG.png);
}

.hambuger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 3px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
